.attendance-container {
     margin: 20px;
    
}

.attendance-table {
     width: 100%;
     border-collapse: collapse;
}

.attendance-table th,
.attendance-table td {
     border: 1px solid #ddd;
     padding: 8px;
}

.attendance-table th {
     background-color: #f4f4f4;
     text-align: left;
}
.btn__save-date {
    width: 170px;
    height: 40px;
    background-color: green;
    color: white; 
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 10px;
}
